{% extends "store/base.html" %}
{% load static %}
{% block title %}Basket Summary{% endblock %}
{% block content %}

<main class="pt-5">
    <div class="container">
        <h1 class="h5">Shopping basket</h1>
        {% for item in basket %}
            {% with product=item.product %}
                <div data-index="{{ product.id }}" class="row mb-4 border product-item">
                    <div class="col-md-3 col-lg-2 order-md-first bg-light">
                        <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image"
                             src="{{ product.image.url }}">
                    </div>
                    <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                        <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
                            <h1 class="h5 pt-2">{{ product.title }}</h1>
                        </a>
                        <div class="border">
                            <div class="col border-bottom">
                                <div class="row p-3">
                                    <div class="col-6">Hardback Book</div>
                                    <div class="col-6 text-end"><span class="h6 fw-bold">${{ product.price }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row p-3">
                                    <div class="col-12">
                                        <label for="select{{ product.id }}">Qty</label>
                                        <select id="select{{ product.id }}">
                                            {% for i in product_select_list %}
                                                {% if i == item.qty %}
                                                    <option value="{{ i }}" selected>{{ i }}</option>
                                                {% else %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <button type="button" data-index="{{ product.id }}"
                                                class="btn btn-outline-secondary btn-sm update-button">
                                            Update
                                        </button>
                                        <button type="button" data-index="{{ product.id }}"
                                                class="btn btn-outline-secondary btn-sm delete-button">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
        <div class="col-12 text-end">
            <div class="h6 fw-bold">Sub Total: $
                <div id="total-price" class="d-inline-flex">{{ basket.get_total_price }}</div>
            </div>
        </div>
    </div>
</main>

<script>
$('.update-button').on('click', function () {
    let product_id = $(this).data('index')
    let qty = $('#select' + product_id).val()
    $.ajax({
        type: 'POST',
        url: "{% url 'basket:basket_update' %}",
        data: {
            product_id: product_id,
            qty: qty,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function (response) {
            $('#basket-qty').html(response['basket_qty'])
            $('#total-price').html(response['total_price'])
        }
    });
});
$('.delete-button').on('click', function () {
    let product_id = $(this).attr('data-index')
    $.ajax({
        type: 'POST',
        url: "{% url 'basket:basket_delete' %}",
        data: {
            product_id: product_id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function (response) {
            $('#basket-qty').html(response['basket_qty'])
            $('#total-price').html(response['total_price'])
            $('.product-item[data-index="' + product_id + '"]').remove()
        }
    });
});
</script>

{% endblock %}